body button {
    position: relative;
    padding: 5%;
    border: none;
    letter-spacing: 1px;
    text-align: center;
    width: 8.333vw;
    height: 10vh;
    text-transform: uppercase;
    color:white;
    background-color: black;
    font-size: 1.7vw;
} 

body #banner{
    position: relative;
    top: 0px;
    height: 5vh;
    background-color: black;
}

body #display{
    position: relative;
    margin: 0vw;
    height: 6vw;
    width: 24vw;
    border-width: 0.3vw;
    font-size: 6vw;
    background-color:white;
}

body #area{
    position: absolute;
    left: 35%;
    top: 10%;
    width: 25vw;
    height: 80vh;
    background-color: black;
}